# -----------------------------------------------------------------------
#           Dependencies needed to run the app
# -----------------------------------------------------------------------

snowflake-connector-python[pandas]
streamlit
pandas
plotly 