# -----------------------------------------------------------------------
#           Dependencies needed to run the app
# -----------------------------------------------------------------------

psycopg2-binary
python-dotenv
snowflake-connector-python[pandas]
streamlit
pandas
plotly